@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.radial-bubble {
  background: radial-gradient(circle at 50% 50%, #263b66 0%, rgba(38, 59, 102, 0) 70%);
}

.fade-in{
  animation: fade-in 1s forwards;
}

@keyframes fade-in {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

body{
  background-color: #060708;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  line-height: 70%;
}