@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.radial-bubble {
  background: radial-gradient(circle at 50% 50%, #263b66 0%, rgba(38, 59, 102, 0) 70%);
}

@media (min-width: 768px) {
  body {
    overflow: hidden; /* Add a vertical scrollbar when content overflows */
    /* Alternatively, you can use 'overflow-y: auto;' to only show the scrollbar when necessary */
  }
}

body{
  overflow-x: hidden;
}